/* Write your CSS here */

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #07080c;
  height: 100vh;
  align-items: center;
}

img {
  max-width: 576px;
}

.speed-container {
  text-align: center;
}

.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-style: italic;
}

.speed-text {
  color: #ffffff;
  font-family: 'Roboto';
}

.speed-limit {
  color: #94a3b8;
  font-family: 'Roboto';
}

.button {
  width: 90px;
  height: 40px;
  font-family: 'Roboto';
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

.btn-1 {
  color: #ffffff;
  background-color: #0b69ff;
  border: none;
  margin-right: 18px;
}

.btn-2 {
  color: #cbd5e1;
  background-color: transparent;
  border-color: #cbd5e1;
  border-style: solid;
}

img {
  width: 300px;
  height: 125px;
}

@media (min-width: 768px) {
  img {
    width: 700px;
    height: 300px;
  }
}
